body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-width: 38rem;
  padding: 2rem;
  color: white;
  background-color: black;
}

.menu-btn {
  cursor: pointer;
  border: 1px solid white;
  margin: 10px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.menu-btn:hover {
  background-color: whitesmoke;
  color: black;
}